.titulo_de_la_pagina { 
font-size: 60px;
color: turquoise;
font-weight: 800;
}

.contenedor {
    background-color: rgb(71, 49, 49);
    font-size: 60px;
color: turquoise;
font-weight: 800;
border:solid 5px;
border-color: rgb(13, 135, 184);
border-radius: 20px;
padding: 1%;
margin: 10%;
}

.foto {
border-radius: 10px;
max-width: 50%;

}